.intro{
  padding-top: 92px;
  margin: auto;
  width: 77%;
  min-width: 928px;
}

@media screen and (max-width: 1024px) {
  .intro {
     min-width: 720px;
     width: 92%;
   }
 } 

@media screen and (max-width: 768px) {
  .intro {
    min-width: 288px;
    width: 95%;
  }
} 

@media screen and (max-width: 600px) {
  .intro {
    padding-top: 64px;
  }
} 