.intro{
  padding-top: 92px;
  padding-left: 100px;
  max-width: 690px;
}

@media screen and (max-width: 1184px) {
  .intro{
    padding-left: calc((100vw - 984px) / 2);
    
  }
}

@media screen and (max-width: 1080px) {
  .intro{
    padding-left: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
     padding-left: calc(48px - ((1024px - 100vw) / 2));
  }
} 
 
@media screen and (max-width: 976px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
  }
} 

@media screen and (max-width: 600px) {
  .intro {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 225px;
  }
} 