.cover__title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 227px;
  }
} 